{% extends "base.html" %}
{% block title %}
{{ block.super }}
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center col-sm-12">
            <h1>{{ title }}</h1>
            <div class="offset-sm-4 col-sm-4">
                <form action="." method="POST">
                    {% csrf_token %}
                    <!--<input type="text" name="url" placeholder="Shorten your URL like https://kenvilar.com">-->
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="SHORTEN &raquo;">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
